fastapi
uvicorn[standard]
ruff
python-dotenv
sqlalchemy
psycopg2
databases[aiosqlite]
databases[asyncpg]
pydantic-settings
qrcode[pil]
python-jose
python-multipart
passlib[bcrypt]
pandas
starlette
pytz
openpyxl